 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
/*"col s9 m8 l6 push offset-s3 push offset-m5 push offset-l9 card-panel teal amber accent-4 padding"*/

.container{
    outline: 2px solid red;

}


.container .row{
    outline: 2px solid green;
    display: table;
    clear: both;
    
    
}
.container .row .col{
    outline: 2px solid blueviolet;
   
}

/*---------aside primera sección-------*/
/*aside mobile*/

.aside1 {
    background-image: url("../assets/images/taxi-mobile.jpg ");
    background-size: cover;
}
.aside .container {
    width: 100%;
}


.option-job{
    height: 397px;
    background-image: url(../assets/images/conduce-mobile.jpg);
     background-size: cover;
    
  }

@media (min-width: 768px)and (max-width: 991px){
 
  .padding{
    height: 19rem;
    margin-top: 12rem;
    border-radius: 0.5rem;
 }

   .aside {
    background-image: url("../assets/images/taxi-tablet.jpg ");
    background-size: cover;
 }

 .option-job{
    height: 397px;
    background-image: url(../assets/images/conduce.jpg);
     background-size: cover;
  }

}

/*view desktop*/
@media (min-width: 1280px){
    
  .padding{
    height: 9rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
}
 .aside {
    background-image: url("../assets/images/taxi-desktop.jpg ");
    background-size: cover;
}

 .option-job{  /*sección segunda imagen del conductor*/
    height: 455px;
    background-image: url(../assets/images/conduce-desktop.jpg);
     background-size: cover;
  }
  
}

/*---------------------------footer---------------------*/
footer .imag img{
    margin-bottom: 1rem;
}
footer .container .row .logofooter{
    border-bottom: 4px solid;
}
footer .footer-copyright .container{
    border-top: 4px solid;
}
@media (min-width: 768px)and (max-width: 991px){
 
    footer  a{
    font-size: 1rem;
    line-height: 2.3rem;
  } 
    footer .imag {
    border: 3px solid;
    margin-top: -11rem;
  }
    footer .imag img{
    margin-top: 2rem;
  }
    footer #icox-box {
    position: absolute;
    margin-top: -4rem;
    margin-left: -1.5rem;    
  }

 
}


/*view desktop*/
@media (min-width: 1280px){
    footer  a{
    font-size: 1rem;
    line-height: 2.3rem;
  }
    footer .imag {
    margin-top: -14rem;
  }
    footer .imag img{
    margin: 1rem;
    margin-top: 2rem;
  } 
    footer #iconox {
    position: absolute;
    margin-top: -3rem;
    margin-left: -1.5rem;
  }

 
}


.option-job .container {
    width: 100%;
  
}
.option-job .container .row {
    width: 100%;
    height: 100%;
}